[submodule "website"]
	path = website
	url = https://github.com/WHG-Dev/website.git
	branch = main
[submodule "website-v2"]
	path = website-v2
	url = https://github.com/Darkstone245/Website-v2.git
	branch = main
