[submodule "website"]
	path = website
	url = https://github.com/WHG-Dev/website.git
	branch = main
[submodule "Website-v2"]
	path = Website-v2
	url = https://github.com/Darkstone245/Website-v2.git
	branch = main
